table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #E280BE;
    padding: 10px;
    color: #fff;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:hover {
    background: #f1f1f1; /* Color de fondo al pasar el mouse sobre la fila */
}
